@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  margin: 0;
}
.container{
   display: flex;
   height: 100vh;
   width: 100vw;


}
.icon{
  display: none;
}
.menu{
  flex: 1;
  background: #000;
  color: beige;
  font-size: 1.5rem;
  position: fixed;
  height: 100vh;
  transition: transform .3s ease;
}
.body{
  flex: 8;
  display: flex;
  flex-direction: column;

}
.logo{
  margin:  0 auto;
  height: auto;
}
.spacing{
  flex: 1;
}
.menu-item{

  list-style-type: none;
  margin-left: 10px;
  padding: 10px;
  position: relative;
}
.menu-item::after{
  content: "";
  background: beige;
  height: 0.5px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -2px;
}
.body-text{
  padding: 10px;
  background: beige;
  height: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
margin-bottom: 30px;
}
.text-content{
  padding: 0 auto;
  width: 60%;
  margin-top: 10px;
}
.feat-img{
  width: 100px;
  display: inline-block;
  height: 60%;
  background-size: contain;
  float: left;
  margin-right: 3px;
}
.body-feat{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.body-feat-item{
  width: 28%;
  margin-bottom: 20px;
}

@media screen and (max-width : 1023px)   {
  .text-content{
    width: 85%;
  }
  .feat-img{
    width: 80%;
    height: auto;
    display: block;
    float: none;
  }
  .body-feat{
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .body-feat-item{
    width: 100%;
  }
  
}
.icon{
  margin: 10px;
  display: none;
}
.nav-link{
  text-decoration: none;
  color: var(--line-border-empty);
}
.overlay{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
@media screen and  (max-width: 768px)  {
  
  .menu{
   /* display: none; */
   /* position: inherit; */
   transform: translateX(-100%);
  }
  .spacing{
    display: none;
  } .icon{
    display: inline;
  }
}
input:checked ~ .menu{
  transform: translateX(0%);
}
input:checked ~ .overlay{
  display: block;
}